@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    height: 400px;
    width: 100%;
    display: flex;
    
}

.slide{
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: rgb(54, 49, 49);
    transition: 0.5s ease;
    transform: translateX(-180px);
}

h1{
    color: rgb(174, 0, 255);
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul li{
    list-style: none;
}

ul li a{
    color: rgb(174, 0, 255);
    font-weight: 500;
    padding: 5px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2 ease-out;
}

ul li:hover a{
    color: rgb(0, 0, 0);
    background-color:  rgb(174, 0, 255);
}

ul li a i{
    width: 40px;
    text-align: center;   
}

input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}

.toggle:hover{
    background-color:  rgb(174, 0, 255);
    opacity: 0.6;
}

.toggle .common{
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: rgb(174, 0, 255);
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line{
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line{
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform:rotate(45deg);
}

input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform:rotate(-45deg);
}

input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 8px rgb(174, 0, 255);
    
}

.container{
    position: absolute;
    background: #000 url(https://scontent.fmnl4-6.fna.fbcdn.net/v/t39.30808-6/323227692_1452731708470024_681993265898888802_n.jpg?stp=cp6_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH3BBelOQybInNkDAVtJvy7i8pw8Sz4QlyLynDxLPhCXFxmmhUjdB96GLliGhQG9iKVjtmHWcW5RrtYNfY8eg5N&_nc_ohc=dmnCtyw4OagAX9LQzU6&_nc_ht=scontent.fmnl4-6.fna&oh=00_AfCguz8_kZCs4-e2Txje6TttYBNzHFwQIKIvyGukfUmtPA&oe=64056B1F);
    color: aliceblue;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
